@import "tailwindcss";

/* Define custom variables */
:root {
  --bg-body: #e2b4c1;
  --icon-bg: linear-gradient(135deg, #da81a4 0%, #fecfef 100%);
  --icon-hover-bg: #ba54a9;
  --button-bg: linear-gradient(135deg, #ba54a9 0%, #fecfef 100%);
  --button-hover-shadow: rgba(255, 154, 158, 0.4);
  --text-color-default: #333;
  --text-hover-light: white;
  --font-main: "Inter", sans-serif;
}

/* Body Background */
body {
  @apply min-h-screen;
  background-color: var(--bg-body);
  font-family: var(--font-main);
}