@import "tailwindcss";

/* Define custom variables */
:root {
  --bg-body: #FDF2F8;
  --icon-bg: linear-gradient(135deg, #da81a4 0%, #fecfef 100%);
  --icon-hover-bg: #ba54a9;

  --button-hover-shadow: rgba(255, 154, 158, 0.4);
  --text-color-default: #333;
  --text-hover-light: white;
  --font-main: "Playfair Display";
}

.button-bg {
  background-image: linear-gradient(to right, #ba54a9 0%, #fecfef 50%, #ba54a9 100%);
}
.button-bg:hover {
  background-image: linear-gradient(to right, #761461 0%, #fecfef 50%, #761461 100%);
  transform: translateY(-2px); /* Equivalent to -translate-y-0.5 */
}

/* Body Background */
body {
  @apply min-h-screen;
  background-color: var(--bg-body);
  font-family: var(--font-main);
}

/* 🔕 Disable Toastify */
.Toastify__toast-container {
  display: none !important;
}
.Toastify__toast {
  display: none !important;
}
