@import "tailwindcss";

/* Define custom variables */
:root {
  --bg-body: #FDF2F8;
  --icon-bg: linear-gradient(135deg, #da81a4 0%, #fecfef 100%);
  --icon-hover-bg: #ba54a9;

  --button-hover-shadow: rgba(255, 154, 158, 0.4);
  --text-color-default: #333;
  --text-hover-light: white;
  --font-main: "Playfair Display";
}

.button-bg {
  background-color: rgba(219, 39, 119, 0.7);
  color: white;
  transition: all 0.3s ease;
}

.button-bg:hover {
  background-color: #b91c6b; /* solid darker pink */
  color: white;
  transform: translateY(-2px);
}


/* Body Background */
body {
  @apply min-h-screen;
  background-color: var(--bg-body);
  font-family: var(--font-main);
}

/* 🔕 Disable Toastify */
.Toastify__toast-container {
  display: none !important;
}
.Toastify__toast {
  display: none !important;
}
