/* Module CSS for Contact form */
.contactForm {
  /* max-height: 350px; */
  overflow-y: auto;
}

.formTitle {
  font-size: 1rem;
  margin-bottom: 0.8rem;
}

.formLabel {
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}

.formControl {
  font-size: 0.8rem;
  padding: 6px 10px;
  margin-bottom: 0.5rem;
}

.formTextarea {
  font-size: 0.8rem;
  padding: 6px 10px;
  max-height: 80px;
  min-height: 80px;
}

.formButton {
  font-size: 0.8rem;
  padding: 6px 15px;
}

.formGroup {
  margin-bottom: 0.5rem;
}

/* Contact Info and Map styles */
.infoCard {
  margin-bottom: 0.75rem;
}

.infoCardBody {
  padding: 0.75rem 1rem;
}

.infoTitle {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.infoList {
  font-size: 0.8rem;
}

.infoListItem {
  margin-bottom: 0.5rem;
}

.socialIcons {
  font-size: 1rem;
}

.mapImage {
  max-height: 150px;
}

p , h2{
  font-family: 'Times New Roman', Times, serif;
}